<!DOCTYPE html>
<html>
 <head>
  <meta charset="UTF-8">
  <title>De-Stress your Mess</title>
  <link type="text/css" rel="stylesheet" href="css/style.css">
 </head>
 <body>
   <center>
      <h1> The Stress Reliever </h1> 
       <h2> Pick something that is stressing you out. </h2> </center>
      <div class="round-button" id="work">
         <div class="2">
           <a href="/work" class="round-button-circle" id="work2">Work</a>
          </div>
             </div> 
     <div class="round-button" id="school">
     <div class="2">
       <a href="/school" class="round-button-circle" id="school2">School</a>
     </div>
       </div> 
   <div class="round-button" id="future">
     <div class="2">
       <a href="/future" class="round-button-circle" id="future2">The Future</a>
     </div>
       </div> 
     <div class="round-button" id="relationships">
       <div class="2">
         <a href="/relationships" class="round-button-circle" id="relationships2">Relationships</a>
       </div>
       </div>
    <div class="round-button" id="relationships">
      <div class="2">
        <a href="/sports" class="round-button-circle" id="sports2">Sports</a>
      </div>
    </div>
   <div class="round-button" id="deadlines">
     <div class="2">
       <a href="/deadlines" class="round-button-circle" id="deadlines2">Deadlines</a>
     </div>
    </div>
     <div class="round-button" id="family">
       <div class="2">
         <a href="/family" class="round-button-circle" id="family2">Family</a>
       </div>
    </div>
     <div class="round-button" id="other">
       <div class="2">
         <a href="/other" class="round-button-circle" id="other2">Other</a>
       </div>
    </div>
 </body>
</html>