<!DOCTYPE html>
<html>
 <head>
  <meta charset="UTF-8">
  <title>The Stress Reliever</title>
  <link type="text/css" rel="stylesheet" href="stylesheet.css">
 </head>
 <body>
   <center> <h1> The Stress Reliever </h1> 
   <h2> Tell us, what are you stressed about? </h2>
   <div class="round-button" id="work"><div class="2"><a href="html/work.html" class="round-button-circle" id="work2">Work</a></div></div>
   <div class="round-button" id="school"><div class="2"><a href="html/school.html" class="round-button-circle" id="school2">School</a></div></div>
   <div class="round-button" id="future"><div class="2"><a href="html/future.html" class="round-button-circle" id="future2">The Future</a></div></div>
     <div class="round-button" id="relationships"><div class="2"><a href="html/relationships.html" class="round-button-circle" id="relationships2">Relationships</a></div></div>
   <div class="round-button" id="relationships"><div class="2"><a href="html/sports.html" class="round-button-circle" id="sports2">Sports</a></div></div>
   <div class="round-button" id="deadlines"><div class="2"><a href="html/deadlines.html" class="round-button-circle" id="deadlines2">Deadlines</a></div></div>
     <div class="round-button" id="family"><div class="2"><a href="html/family.html" class="round-button-circle" id="family2">Family</a></div></div>
     <div class="round-button" id="other"><div class="2"><a href="html/other.html" class="round-button-circle" id="other2">Other</a></div></div></center>
 </body>
</html>