<!DOCTYPE html>
<html>
 <head>
  <meta charset="UTF-8">
  <title>title</title>
 </head>
 <body>
    <form method="Post" action="/result">
      <input type="text" name="stress" value="<%= @user_stress %>" hidden="yes">
     <input type="submit" name="place" value="beach"> 
      <input type="submit" name="place" value="clouds"> 
   </form>
  
 </body>
</html>