<!DOCTYPE html>
<html>
 <head>
  <meta charset="UTF-8">
  <title>Peaceful Environments</title>
<link type="text/css" rel="stylesheet" href="css/2style.css">
  </head>
 <body>
   <center> <h1>Pick your most peaceful environment:</h1> </center>
    <form method="Post" action="/result">
      <input type="text" name="stress" value="<%= @user_stress %>" hidden="yes">
     <input type="submit" name="place" value="Beach" class="round-button"> 
     <input type="submit" name="place" value="Clouds"class="round-button" > 
     <input type="submit" name="place" value="Snow"class="round-button"> 
     <input type="submit" name="place" value="Waterfall"class="round-button"> 
     <input type="submit" name="place" value="Lava"class="round-button"> 
     <input type="submit" name="place" value="Sunrise/Sunset"class="round-button"> 
     <input type="submit" name="place" value="Northern Lights"class="round-button"> 
   </form>
  
 </body>
</html>