<!DOCTYPE html>
<html>
 <head>
  <meta charset="UTF-8">
  <title>Peaceful Environments</title>
<link type="text/css" rel="stylesheet" href="css/2style.css"
  </head>
 <body>
   <h1>Pick your most peaceful environment:</h1>
    <form method="Post" action="/result">
      <input type="text" name="stress" value="<%= @user_stress %>" hidden="yes">
     <input type="submit" name="place" value="Beach"> 
     <input type="submit" name="place" value="Clouds"> 
     <input type="submit" name="place" value="Ocean"> 
     <input type="submit" name="place" value="Snow"> 
     <input type="submit" name="place" value="Waterfall"> 
     <input type="submit" name="place" value="Lava"> 
     <input type="submit" name="place" value="Sunrise/Sunset"> 
     <input type="submit" name="place" value="Northern Lights"> 
   </form>
  
 </body>
</html>