<!DOCTYPE html>
<html>
 <head>
  <meta charset="UTF-8">
  <title>Result</title>
   <link type="text/css" rel="stylesheet" href="css/3style.css">
 </head>
 <body>
    <center> <%= @user_quote %> 
      <img src= "<%= @user_gif %>"> </center>
   
  
 </body>
</html>