<!DOCTYPE html>
<html>
 <head>
  <meta charset="UTF-8">
  <title>The Stress Reliever</title>
 </head>
 <body>
   <center> <h1> Work-Related Stress </h1> </center>
   <iframe src="//giphy.com/embed/yvAzoTBh5hmCc" width="480" height="270" frameBorder="0" class="giphy-embed" allowFullScreen></iframe>
 </body>
</html>