<!DOCTYPE html>
<html>
 <head>
  <meta charset="UTF-8">
   <link type="text/css" rel="stylesheet" href="css/2style.css">
  <title>The Stress Reliever</title>
 </head>
 <body>
   <center> <h1> Work-Related Stress </h1> 
     <h3> Pick your most peaceful environment: </h3> </center>
   <div class="round-button" id="clouds">
         <div class="2">
           <a href="/work" class="round-button-circle" id="clouds2">Clouds</a>
          </div>
             </div> 
     <div class="round-button" id="lava2">
     <div class="2">
       <a href="school.erb" class="round-button-circle" id="lava2">Lava</a>
     </div>
       </div> 
   <div class="round-button" id="sunrise">
     <div class="2">
       <a href="future.erb" class="round-button-circle" id="sunrise2">Sunrise</a>
     </div>
       </div> 
     <div class="round-button" id="forest">
       <div class="2">
         <a href="relationships.erb" class="round-button-circle" id="forest2">Forest</a>
       </div>
       </div>
    <div class="round-button" id="beach">
      <div class="2">
        <a href="sports.erb" class="round-button-circle" id="beach2">Beach</a>
      </div>
    </div>
   <div class="round-button" id="snow">
     <div class="2">
       <a href="deadlines.erb" class="round-button-circle" id="snow2">Snow</a>
     </div>
    </div>
     <div class="round-button" id="waterfall">
       <div class="2">
         <a href="family.erb" class="round-button-circle" id="waterfall2">Waterfall</a>
       </div>
    </div>
     <div class="round-button" id="lights">
       <div class="2">
         <a href="other.erb" class="round-button-circle" id="lights2">Northern Lights</a>
       </div>
    </div>
 </body>
</html>