body {
  background-color:turquoise;
}
img {
  margin-top: 15px;
  margin-left: 22%;
  margin-right: 25%;
  width: 800px;
  height: 400px;
}

div {
  width: 350px;
  height: 250px;
  color: red;
  position:center;
}

h1 {
  margin-left:25%;
  margin-right:25%;
  margin-top: 50px;
}

}