@import url(http://fonts.googleapis.com/css?family=Raleway);

body {
  background-color:blue;
  font-family:"Raleway", sans-serif;
}

img {
  margin-top: 15px;
  margin-left: 21%;
  margin-right: 25%;
  width: 800px;
  height: 400px;
}

h1 {
  margin-left:25%;
  margin-right:25%;
  margin-top: 50px;
}

}